<!DOCTYPE html>
<html>
<head>
    <title>Bus Booking</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>🚌 Bus Booking</h1>

<form>
    <input type="text" placeholder="From City" required>
    <input type="text" placeholder="To City" required>
    <input type="date" required>

    <button type="submit">Search Bus</button>
</form>

<div class="booking-card">
    <h2>RSRTC Express</h2>
    <p>Jaipur → Udaipur</p>
    <p>₹650</p>
    <button>Book Now</button>
</div>

<a href="train.html">
    <button class="next-btn">Next → Train Booking</button>
</a>

</body>
</html>