<!DOCTYPE html>
<html>
<head>
    <title>Flight Booking</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>✈️ Flight Booking</h1>

<form>
    <input type="text" placeholder="From Airport" required>
    <input type="text" placeholder="To Airport" required>
    <input type="date" required>

    <button type="submit">Search Flight</button>
</form>

<div class="booking-card">
    <h2>IndiGo Airlines</h2>
    <p>Delhi → Mumbai</p>
    <p>₹4500</p>
    <button>Book Now</button>
</div>

<a href="packages.html">
    <button class="next-btn">View Tour Packages</button>
</a>

</body>
</html>