<!DOCTYPE html>
<html>
<head>
    <title>Train Booking</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>🚆 Train Booking</h1>

<form>
    <input type="text" placeholder="From Station" required>
    <input type="text" placeholder="To Station" required>
    <input type="date" required>

    <button type="submit">Search Train</button>
</form>

<div class="booking-card">
    <h2>Vande Bharat Express</h2>
    <p>Delhi → Jaipur</p>
    <p>₹1200</p>
    <button>Book Now</button>
</div>

<a href="flight.html">
    <button class="next-btn">Next → Flight Booking</button>
</a>

</body>
</html>